.blogWrap {
	nav{
		.item{
			font-family: 'Arial';
			text-transform: uppercase;
			border-right: 1px dotted #5F6B67;
			border-left: 1px dotted #5F6B67;
	    	border-right-width: 1px;
	    	text-align: center;
			// width: 15%;
			color: #5F6B67;
			font-size: 1em;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-weight: bold;
			&:hover{
				background-color: #5F6B67;
				color: #FFF;
			}&:active{
				background-color: #5F6B67;
				color: #FFF;
				
			}
		}
		.r-item{
			font-family: 'Arial';
			text-transform: uppercase;
			// width: 15%;
			color: #5F6B67;
			font-size: 1em;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-weight: bold;
			float: right;
			&:hover{
				color: #2CBAE7;
			}
		}
		padding-left: 5%;
		padding-right: 5%;
		border-bottom: 2px solid #5F6B67;
		position: fixed;
		width: 100%;
	}
	header{
		padding-left: 50px;


		.logo{
			img{
				height: 100px;
				width: 100px;
				margin-bottom: 50px;
			}
			padding-top: 100px;
		}
		.name{
			font-size: 2.3em;
			color: #5F6B67;
		}
		.contacts{
			display: inline-block;

		}
		.mailname{
			background-color: #5F6B67;
			border-style: none;
			color: #FFF;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 2.1em;
			&:hover{
				background-color: #2CBAE7;

			}
			&:active{
				background-color: #2CBAE7;
			}
		}
		.send-button{
			border-style: none;
			background-color: #5F6B67;
			color: #FFF;
			line-height: 2.1em;
			font-size: 1em;
			text-transform: uppercase;
			font-weight: bold;
			margin-left: 20px;
			border-radius: 15px 15px 15px 15px;
		}

		.socialicons{
			img{
				width: 50px;
				height: 50px;
				margin-right: 5px;
			}
			padding-top: 50px;
			border-top: 1px dotted #5F6B67;
			
		}
		.tag{
			text-transform: uppercase;
			font-size: 0.9em;
			color: #5F6B67;
			font-weight: bold;
			border: 1px solid #5F6B67;
			border-radius: 5px;
			display: inline-block;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: 10px;
			&:hover{
				color: #2CBAE7;
				border-color: #2CBAE7;
			}
		}
	}

}