$mainBackColor:#00b8e6;
$linkColor: white;
$linkHoverColor: grey;
$maxButtonWidth: 25rem;
$minButtonWidth: 15rem;
$borderDotted: 1px dotted $linkColor;
$picWidthMin: 15rem;
$picWidthMax: 50rem;

img {
  max-width: 100% !important;
}
.navbar{
  border-bottom: 2px solid $linkColor;
  .container-fluid{
    background-color: $mainBackColor;
    .navbar-header{
      border-right: $borderDotted;
      padding: 3px 20px 3px 20px;
      &:hover{
        background-color:$linkColor;
      }
      a{
        color: $linkColor;
        &:hover{
          color: $linkHoverColor;
        }
      }
    }
    div#indexNav{
      li{
        border-right: $borderDotted;
        padding: 3px 20px 3px 20px;
        &:hover{
          background-color:$linkColor;
        }
        a{
          color: $linkColor;
          &:hover{
            color: $linkHoverColor;
          }
        }
      }
    }
  }
}

main.container-fluid{
  background-color: $mainBackColor;
  color: $linkColor;
  div.row {
    padding: 20px;
    .logo{
      height: 100px;
      margin: 50px;
    }
    p{
      font-size: 4.5rem;
      margin-left: 30px;
      font-family: garamond;
      font-weight: bold;
    }
    .p2{
      @extend p;
      font-size: 3.5rem;
    }
    span.glyphicon-menu-down{
      font-size: 50px;
      margin-left: 30px;
    }
    button{
      margin-top: 0px;
      margin-left: 30px;
      height: 40px;
      min-width: $maxButtonWidth;
      max-width: $maxButtonWidth;
      background-color: $linkColor;
      color: $mainBackColor;
      font-weight: bold;
      &:hover{
        background-color: $linkHoverColor;
      }
      a{
        color: $mainBackColor;
      }
    }
    .glyphs{
      margin-top: 20px;
      margin-left: 30px;
      border-top: $borderDotted;
      padding: 10px;
      max-width: $maxButtonWidth;
      min-width: $minButtonWidth;

      a{
        span{
        font-size: 30px;
        margin-left: 15px;
        color:$linkColor;
        &:hover{
          color: $linkHoverColor;
          }
        }
      }
    }
  }
  .line{
    border-top: $borderDotted;
    height: 20px;
    margin: 30px 0 0 0;
  }
  .quote{
    height: 50px;
    margin: 0 0 10px 30px;
  }
  .pic{
    min-width: $picWidthMin;
    max-width: $picWidthMax;
    margin-left: 30px;
    margin-top: 20px;
  }
  .txtHead{
    margin-left: 30px;
    font-size: 15px;
    font-family: verdana;
  }
  .txtPlain{
    @extend .txtHead;
    font-size: 1.2rem;
  }

  section{
    p.txtHead{
      @extend .txtHead;
      font-size: 25px;
      font-weight: lighter;
      max-width: $maxButtonWidth*1.2;
      margin-top: 30px;
    }
    p.txtPlain{
      @extend .txtPlain;
      font-size: 15px;
      font-weight: lighter;
      max-width: $maxButtonWidth*1.5;
      margin-top: 20px;
    }
    button.sectionBtn{
      @extend button;
      margin: 20px 0 0 30px;
    }
    input{
      min-width: 200px;
      max-width: 300px;
      display: inline-block;
      margin: 20px 0 0 30px;
      height: 42px;
    }
    button.smallBtn{
      @extend button;
      margin: 0 0 0 30px;
      min-width: 150px;
      max-width: 150px;
      display: inline-block;
    }
  }
}
