html
  head
    title blog page
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    div.blogWrap
      nav
        - list = [{label:'home', link:'index.html'}, {label:'price plans', link:'pricing.html'}, {label:'blog', link:'blog.html'}]
            each item in list
              a(href=item.link).item.col-md-2
                =item.label
      nav
        a(href="#").r-item.col-md-2 teke a trail
        a(href="#").r-item.col-md-2 login
      header
        div.logo
          img(src="http://blog.thrivesolo.com/assets/img/soloLogo.svg")
        div.topic
          div.name.col-md-6
            p Freelancers, Designers, 
            p Thinkers and Creatives:click, 
            p read, like, share 
          div.contacts.col-md-6
            form
              input(type="email" placeholder="joun our mailing list").mailname.col-md-4
              input(type="submit" value="send").send-button
            div.socialicons
              img(src="https://d13yacurqjgara.cloudfront.net/assets/dribbble-ball-1col-dnld-e29e0436f93d2f9c430fde5f3da66f94493fdca66351408ab0f96e2ec518ab17.png" alt="dribbble")
              img(src="https://www.mypostcard.com/modules/design-shop/img/pinterest-logo.png" alt="pinterest")
              img(src="http://saanrashid.com/wp-content/uploads/2016/03/linkedin-icon-300x300.png" alt="linldi")
              img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8p3G5JBRQyvYSIijdMPKozFn93uiMnby2CbWbgdIHM-cqmUZm" alt="twitter")
              img(src="http://www.wolcottsrestaurant.com/images/facebook_icon_grey.png" alt="facebook")
              
                    
                  
        div.tags.col-md-12
          - list =['all posts', 'productivity', 'growth', 'guests posts', 'marcketing']
            each item in list
              div.tag=item
      section.blogContent


    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
