html
  head
    title index page
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    link(rel="stylesheet" type="text/css" href="./css/main.css")
  body
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#indexNav" aria-expanded="false")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand active" href="index.html") HOME

        div(class="collapse navbar-collapse navbar-left" id="indexNav")
          ul.nav.navbar-nav
            li
              a(href="pricing.html") PRICING PLANS
            li
              a(href="blog.html") BLOG
            li
              a(href="trial.html") TRIAL
            li
              a(href="login.html") LOGIN

    //- MAIN section - start
    main.container-fluid
      div.row
        div.col-lg-12
          img(src="http://thrivesolo.com/img/soloLogo.svg").logo

      div.row
        div.col-lg-6.col-xs-12
          p Freelancing's tough.
          p Luckily you've just
          p found your wingman.
          span(class="glyphicon glyphicon-menu-down" aria-hidden="true")

        div.col-lg-6.col-xs-12
          button(type="button" class="btn")
            a(href="trial.html") START YOUR TRIAL
          div.glyphs
            a(href="#")
              span(class="glyphicon glyphicon-record" aria-hidden="true")
            a(href="#")
              span(class="glyphicon glyphicon-phone-alt" aria-hidden="true")
            a(href="#")
              span(class="glyphicon glyphicon-piggy-bank" aria-hidden="true")
            a(href="#")
              span(class="glyphicon glyphicon-globe" aria-hidden="true")
            a(href="#")
              span(class="glyphicon glyphicon-gift" aria-hidden="true")
      div.line.col-lg-12

      //- PHOTOGRAPHER block
      div.row
        div.col-lg-6.col-xs-12
          img(src="http://thrivesolo.com/img/speechMarks.svg").quote
          p.p2 Solo’s a great assistant and an elegant way to ensure your freelance projects run smoothly.
          div.line
          div.txtHead PHOTOGRAPHER Gerald Foster
        div.col-lg-6.col-xs-12
          img(src="http://thrivesolo.com/img/freelance-photography.svg").pic
      div.line.col-lg-12

      //- Block with picture - MANAGE AND ANALYSE PROJECTS
      div.row
        div.col-xs-12.col-md-6.col-md-push-6
          section
            p.txtHead MANAGE AND ANALYSE PROJECTS
            p.txtPlain Keep up-to-date with your workload, review your performance, analyse percentage of deadlines met and manage your time and tasks. Stay on-top so you can take on more and increase earnings.
            button(type="button" class="btn sectionBtn")
              a(href="#") WATCH OUR VIDEO
            p.txtPlain
              span(class="glyphicon glyphicon-menu-down" aria-hidden="true")
        div.col-xs-12.col-md-6.col-md-pull-6
          img(src='http://thrivesolo.com/img/projects.png').pic
      div.line.col-lg-12

      //- Block with picture - TIME SHEETS
      div.row
        div.col-xs-12.col-md-6
          section
            p.txtHead KEEP DETAILED AND ACCURATE TIME SHEETS
            p.txtPlain Time sheets that are effortless to maintain; and if you forget to hit start, time’s easy to enter manually. What’s more, Solo lets you assign hourly rates to work types so you can charge more for certain skills, and analyse billable and non-billable hours.
            button(type="button" class="btn sectionBtn")
              a(href="pricing.html") SEE OUR PRICE PLANS
            p.txtPlain
              span(class="glyphicon glyphicon-menu-down" aria-hidden="true")
        div.col-xs-12.col-md-6
          img(src='http://thrivesolo.com/img/timesheets.png').pic
      div.line.col-lg-12

      //- Block with picture - ENJOY INVOICING
      div.row
        div.col-xs-12.col-md-6.col-md-push-6
          section
            p.txtHead ENJOY EFFORTLESS, ELEGANT INVOICING
            p.txtPlain One-click invoicing means great looking invoices are quick to create and simple to send. Fields are instantly filled out with the necessary details, ready to fire off to clients with a single click, saving time and helping you get paid faster.
            button(type="button" class="btn sectionBtn")
              a(href="trial.html") TRY SOLO NOW
            p.txtPlain
              span(class="glyphicon glyphicon-menu-down" aria-hidden="true")
        div.col-xs-12.col-md-6.col-md-pull-6
          img(src='http://thrivesolo.com/img/invoice.png').pic
      div.line.col-lg-12

      //- Block with picture - BUSINESS INTELLIGENCE
      div.row
        div.col-xs-12.col-md-6
          section
            p.txtHead LEVERAGE USEFUL BUSINESS INTELLIGENCE
            p.txtPlain Solo distills your business data so it's easy to understand and act upon. Facts and figures are all interpreted for you - then beautifully presented so you can take advantage.
        div.col-xs-12.col-md-6
          img(src='http://thrivesolo.com/img/project-management-metrics.svg').pic
      div.line.col-lg-12

      //- Block with picture - MANAGE CLIENTS AND PROSPECTS
      div.row
        div.col-xs-12.col-md-6.col-md-push-6
          section
            p.txtHead MANAGE CLIENTS AND PROSPECTS
            p.txtPlain As your freelance business grows, so too will your client list. Solo’s Client section lets you store all your contacts’ details and organise clients, prospects and suppliers so you can keep track of who’s who and bring in more business.
            button(type="button" class="btn sectionBtn")
              a(href="trial.html") START YOUR FREE TRIAL
            p.txtPlain
              span(class="glyphicon glyphicon-menu-down" aria-hidden="true")
        div.col-xs-12.col-md-6.col-md-pull-6
          img(src='http://thrivesolo.com/img/clients.png').pic
      div.line.col-lg-12

      //- FINAL Block with FORM
      div.row
        div.col-xs-12.col-md-6
          section
            p.p2 We don’t do email. We only do e-mazing. Sign-up to our mailing list and see what you've been missing!
        div.col-xs-12.col-md-6
          section
            p.txtPlain Everything we send is exploding with content. There’s no spam - just blamb! You’ll receive great blog content written for freelancers, partner offers, beautiful design inspiration and the latest news about our project management software. Sign up to turn your inbox into a winbox.
            input(type="text" class="form-control" placeholder="ENTER YOUR EMAIL ADDRESS HERE")
            button(type="button" class="btn smallBtn")
              a(href="login.html") JOIN
      div.line.col-lg-12

      div.row
        div.col-lg-12
          img(src="http://thrivesolo.com/img/thriveLogo.svg").logo


        //-
          - list = [{label: "HOME", link: "index.html"}, {label: "PRICE PLANS", link: "pricing.html"}, {label: "BLOG", link: "blog.html"}, {label: "TAKE A TRIAL", link: "trial.html"}, {label: "LOGIN", link: "login.html"}]
            each item in list
              a(href=item.link).item
                =item.label
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
